/* .footer-wrapper {
  width: 100%;
  background: #060606;
  padding: 60px 40px;
  border: 2px solid #14accb;
  border-radius: 25px 25px 0 0;
  border-bottom: none;
  box-shadow: 0 0 25px #008bbd;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  color: #dcdcdc;
  font-family: "Inter", sans-serif;
  background-color: #060606;
}


.footer-left {
  width: 50%;
}

.footer-text {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 35px;
  color: #d3d3d3;
  max-width: 550px;
}


.social-icons {
  display: flex;
  gap: 20px;
  font-size: 25px;
  margin-bottom: 35px;
}

.social-icons i {
  cursor: pointer;
  color: #14accb;
  transition: 0.3s;
}

.social-icons i:hover {
  transform: scale(1.2);
  color: #0094bd;
}


.footer-line {
  width: 100%;
  height: 2px;
  background: #14accb;
  margin: 30px 0;
}


.footer-copy {
  margin-top: 10px;
  color: #ccc;
  font-size: 15px;
}


.footer-right {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.footer-col h3 {
  color: #14accb;
  font-size: 18px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer-col a {
  display: block;
  color: #d0d0d0;
  text-decoration: none;
  margin-bottom: 10px;
  transition: 0.3s;
}

.footer-col a:hover {
  color: #14accb;
  transform: translateX(4px);
}


@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-right {
    justify-content: space-between;
  }
} */










/* 
 .footer-wrapper { 
  position: fixed;       
  bottom: 0;
  left: 0; 
  width: 100%;          
  background: #060606;
  padding: 40px 60px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 0 25px #008bbd;
  color: #fff;
  box-sizing: border-box;
  z-index: 100;
  overflow-x: hidden;
  position: static;   
  width: 100%;
} */








.footer-wrapper{

  border: 2px solid #14accb;
  
  border-radius: 15px 15px 0 0;
  margin: 0px;
  margin-right: 10px;
  padding: 10px;
}

/* FOOTER CONTAINER */
.body{
  background-color: black;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 1400px;
  margin: 0;
  width: 100%;
  font-family: "Orbitron", sans-serif;
  padding: 0;
  /* height: ; */
  /* padding-bottom: 0%; */
  padding: 30px;
  padding-bottom: 10px;
}

/* LEFT SECTION */
.footer-left {
  flex: 1;
  /* min-width: 300px; */
  width:30%;
padding: 0;
margin-right: 0px;
}


.footer-left .footer-logo img {
  padding: 0;        /* remove any padding */
  margin: 0;         /* remove any margin */
  display: block;    /* keep it block so it stays above paragraph */
  width: 100px;      /* adjust size as needed */
  height: auto;
}




.footer-text {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 30px;
  color: #d3d3d3;
  text-align: justify;
  text-justify: inter-word;
  font-weight: 300;
  width: 400px;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding: 0%;
  margin-left: 0%;
  /* padding-left: 10px; */
  /* position: relative; */

}

.social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons img:hover {
  transform: scale(1.2);
}

/* BLUE DIVIDER LINE */
.footer-line {
  width: 100%;
  height: 2px;
  background: #14accb;
  margin:  10px;
  padding: 0;
}

/* COPYRIGHT */
.footer-copy {
  font-size: 15px;
  color: #ccc;
  padding: 0;
  margin: 0;
 font-family: "Orbitron", sans-serif;
 margin-bottom: 10px;
}

/* RIGHT COLUMNS */
.footer-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  /* min-width: 250px; */
  margin-left: 0px;
  padding: 0;
  margin-left: 0px;
}


.footer-col {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 0px;
}



.footer-col h3 {
  color: #14accb;
  font-size: 18px;
  margin-bottom: 15px;
  letter-spacing: ;
  margin-left: 0px;

}

.footer-col a {
  display: block;
  color: #d0d0d0;
  text-decoration: none;
  margin-bottom: 10px;
  transition: 0.3s;
  
}

.footer-col a:hover {
  color: #14accb;
  transform: translateX(4px);
}
.logo-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  /* margin-left: 0; */
  /* margin-bottom: 115px; */
  margin-top: 0px;
  margin-right: 55px;
}
.logo-right img {
  width: 145px;
  height: 145px;
  display: block; 
  margin-bottom: 65px;/* ensures no extra space below image */
 
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }

  .footer-right {
    justify-content: flex-start;
    gap: 40px;
  }
}

/* BODY PADDING TO PREVENT CONTENT OVERLAP */
body {
  padding-bottom: 350px; /* adjust based on footer height */
}
 */