/* Light Theme */
body.light {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s;
}

/* Dark Theme */
body.dark {
  background-color: #000000;
  color: #FFFFFF;
  transition: 0.3s;
}

/* Optional: Smooth for all components */
* {
  transition: background-color 0.1s, color 0.1s;
}
